<div class="footer">
    <div class="border-top border-bottom border-dark border-2 py-12">
        <h5 class="item-2 fs-2">此刻打盹，你將做夢；此刻學習，你將圓夢</h5>
        <p class="item-2 fs-18">——我也不知道誰說的</p>
    </div>
    <div class="py-8">
        <p class="item-2">© 7TAO七逃. All Rights Reserved</p>
    </div>
</div>